@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div id="cabezera">
        <h1>Framework Analitica Visual</h1>
    </div>
    <div id="graphsContainer"></div>
    <hr />
    <div align="center">
        <footer>
            <p>&copy; 2018 - Framework de Analitica Visual</p>
        </footer>
    </div>
    <script type="text/javascript">

        var type1 = "bar";
        var type2 = "bar";
        var type3 = "bar";
        var type4 = "bar";
        var count = 3;

        window.onload = function () {
            var i;
            for (i = 1; i <= count; i++) {
                printGraph(i);
            }
            switch (count) {
                case 1:
                    loadChart1();
                    break;
                case 2:
                    loadChart1();
                    loadChart2();
                    break;
                case 3:
                    loadChart1();
                    loadChart2();
                    loadChart3();
                    break;
                case 4:
                    loadChart1();
                    loadChart2();
                    loadChart3();
                    loadChart4();
                    break;
            }
        };

        function printGraph(index) {
            if (index == 1) {
                document.getElementById('graphsContainer').innerHTML += '<div id="graph' + index + '" class="graphMain"></div>'
                document.getElementById('graph' + index).innerHTML += 'Tipo de grafico: <select id="ddlChartType' + index + '" onchange="reloadChart(this.value,' + index + ')"><option value="bar">Barra</option><option value="spline">Spline</option><option value="area">Area</option><option value="pie">Pastel</option><option value="doughnut">Dona</option></select>';
                document.getElementById('graph' + index).innerHTML += '<div id="chartContainer' + index + '" style="height: 100%; width: 100%;"></div>';
            } else {
                document.getElementById('graphsContainer').innerHTML += '<div id="graph' + index + '" class="graphs'+count+'"></div>'
                document.getElementById('graph' + index).innerHTML += 'Tipo de grafico: <select id="ddlChartType' + index + '" onchange="reloadChart(this.value,' + index + ')"><option value="bar">Bar</option><option value="spline">Spline</option><option value="area">Area</option><option value="pie">Pie</option><option value="doughnut">Doughnut</option></select>';
                document.getElementById('graph' + index).innerHTML += '<div id="chartContainer' + index + '" style="height: 100%; width: 100%;"></div>';
            }
        }

        function printDropDown() {

        }

        function onClick(e) {
            if (e.chart._containerId == "chartContainer1") {
                location.href = '@Url.Action("Index", "Home", new { id1 = "ID"})'.replace("ID", e.dataPoint.y);
            } else if (e.chart._containerId == "chartContainer2") {
                location.href = '@Url.Action("Index", "Home", new { id2 = "2"})';
            } else if (e.chart._containerId == "chartContainer3") {
                location.href = '@Url.Action("Index", "Home", new { id3 = "3"})';
            } else {
                location.href = '@Url.Action("Index", "Home", new { id4 = "4"})';
            }
        }

        function reloadChart(value, chartID) {
            switch (chartID) {
                case 1:
                    type1 = value;
                    loadChart1();
                    break;
                case 2:
                    type2 = value;
                    loadChart2();
                    break;
                case 3:
                    type3 = value;
                    loadChart3();
                    break;
                case 4:
                    type4 = value;
                    loadChart4();
                    break;
            }
        }

        function loadChart1() {
            var chart = new CanvasJS.Chart("chartContainer1", {
				theme: "theme2",
				animationEnabled: true,
				title: {
					text: "Vista 1"
                },
                toolTip: {
                    content: "x: {x} <br/> y: {y} <br/> label: {label} <br/> name: {name} <br/> indexLabel: {indexLabel}"
                },
				data: [
				{
                    type: type1, //change type to bar, line, area, pie, etc
                    indexLabelPlacement: "outside",
                    showInLegend: true,
                    click: onClick,
                    //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.DataPoints1)
				}
				]
			});
			chart.render();
        }

        function loadChart2() {
            var chart = new CanvasJS.Chart("chartContainer2", {
				theme: "theme2",
				animationEnabled: true,
				title: {
					text: "Vista 2"
                },
                toolTip: {
                    content: "x: {x} <br/> y: {y} <br/> label: {label} <br/> name: {name} <br/> indexLabel: {indexLabel}"
                },
				data: [
				{
                    type: type2, //change type to bar, line, area, pie, etc
                    indexLabelPlacement: "outside",
                    showInLegend: true,
                    click: onClick,
                    //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.DataPoints2)
				}
				]
			});
			chart.render();
        }

        function loadChart3() {
            var chart = new CanvasJS.Chart("chartContainer3", {
				theme: "theme2",
				animationEnabled: true,
				title: {
					text: "Vista 3"
                },
                toolTip: {
                    content: "x: {x} <br/> y: {y} <br/> label: {label} <br/> name: {name} <br/> indexLabel: {indexLabel}"
                },
				data: [
				{
                    type: type3, //change type to bar, line, area, pie, etc
                    indexLabelPlacement: "outside",
                    showInLegend: true,
                    click: onClick,
                    //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.DataPoints3)
				}
				]
			});
			chart.render();
        }

        function loadChart4() {
            var chart = new CanvasJS.Chart("chartContainer4", {
				theme: "theme2",
				animationEnabled: true,
				title: {
                    text: "Vista 4"
                },
                toolTip: {
                    content: "x: {x} <br/> y: {y} <br/> label: {label} <br/> name: {name} <br/> indexLabel: {indexLabel}"
                },
				data: [
				{
                    type: type4, //change type to bar, line, area, pie, etc
                    indexLabelPlacement: "outside",
                    showInLegend: true,
                    click: onClick,
                    //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.DataPoints4)
				}
				]
			});
			chart.render();
        }
    </script>
</body>
</html>			