
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div id="graphs"></div>

    <script type="text/javascript">

        var type1 = "bar";
        var type2 = "bar";
        var type3 = "bar";
        var type4 = "bar";
        var count = @Html.Raw(ViewBag.GraphCount)
            count = 3;

        window.onload = function () {
            var i;
            for (i = 1; i <= count; i++) {
                printGraph(i);
            }
            switch (count) {
                case 1:
                    loadChart1();
                    break;
                case 2:
                    loadChart1();
                    loadChart2();
                    break;
                case 3:
                    loadChart1();
                    loadChart2();
                    loadChart3();
                    break;
                case 4:
                    loadChart1();
                    loadChart2();
                    loadChart3();
                    loadChart4();
                    break;
            }
        };

        function printGraph(count) {
            document.getElementById('graphs').innerHTML += '<div id="graph' + count + '" class="graphs"></div>';
            document.getElementById('graph' + count).innerHTML += '<select id="ddlChartType' + count + '" onchange="reloadChart(this.value,' + count +')"><option value="bar">Bar</option><option value="spline">Spline</option><option value="area">Area</option><option value="pie">Pie</option><option value="doughnut">Doughnut</option></select>';
            document.getElementById('graph' + count).innerHTML += '<div id="chartContainer' + count + '" style="height: 100%; width: 100%;"></div>';
        }

        function printDropDown() {

        }

        function onClick(e) {
            alert(e.dataSeries.type + ", dataPoint { x:" + e.dataPoint.x + ", y: " + e.dataPoint.y + " }");
        }

        function reloadChart(value, chartID) {
            switch (chartID) {
                case 1:
                    type1 = value;
                    loadChart1();
                    break;
                case 2:
                    type2 = value;
                    loadChart2();
                    break;
                case 3:
                    type3 = value;
                    loadChart3();
                    break;
                case 4:
                    type4 = value;
                    loadChart4();
                    break;
            }
        }

        function loadChart1() {
            var chart = new CanvasJS.Chart("chartContainer1", {
				theme: "theme2",
				animationEnabled: true,
				title: {
					text: "Simple Column Chart in ASP.NET MVC"
				},
				subtitles: [
					{ text: "Try Resizing the Browser" }
				],
				data: [
				{
                    type: type1, //change type to bar, line, area, pie, etc
                    indexLabelPlacement: "auto",
                    showInLegend: true,
                    click: onClick,
                    //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.DataPoints)
				}
				]
			});
			chart.render();
        }

        function loadChart2() {
            var chart = new CanvasJS.Chart("chartContainer2", {
				theme: "theme2",
				animationEnabled: true,
				title: {
					text: "Simple Column Chart in ASP.NET MVC"
				},
				subtitles: [
					{ text: "Try Resizing the Browser" }
				],
				data: [
				{
                    type: type2, //change type to bar, line, area, pie, etc
                    indexLabelPlacement: "outside",
                    showInLegend: true,
                    click: onClick,
                    //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.DataPoints)
				}
				]
			});
			chart.render();
        }

        function loadChart3() {
            var chart = new CanvasJS.Chart("chartContainer3", {
				theme: "theme2",
				animationEnabled: true,
				title: {
					text: "Simple Column Chart in ASP.NET MVC"
				},
				subtitles: [
					{ text: "Try Resizing the Browser" }
				],
				data: [
				{
                    type: type3, //change type to bar, line, area, pie, etc
                    indexLabelPlacement: "outside",
                    showInLegend: true,
                    click: onClick,
                    //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.DataPoints)
				}
				]
			});
			chart.render();
        }

        function loadChart4() {
            var chart = new CanvasJS.Chart("chartContainer4", {
				theme: "theme2",
				animationEnabled: true,
				title: {
					text: "Simple Column Chart in ASP.NET MVC"
				},
				subtitles: [
					{ text: "Try Resizing the Browser" }
				],
				data: [
				{
                    type: type4, //change type to bar, line, area, pie, etc
                    indexLabelPlacement: "outside",
                    showInLegend: true,
                    click: onClick,
                    //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.DataPoints)
				}
				]
			});
			chart.render();
        }


    </script>

</body>
</html>			